/*font-family: "Roboto", serif;*/
/*font-family: "Montserrat", serif;*/

body {
  background-color: #1b1b1b !important;
}
/*nav-bar*/
.navbar {
  background-color: #202020;
  height: 118px;
}
.navbar-brand {
  color: white !important;
  font-size: 40px !important;
  padding-left: 20px;
}
.nav-link {
  color: white !important;
}

.navbar-toggler {
  border-color: white !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
h1 {
  font-family: "Roboto", serif;
  font-style: bold;
  font-size: 72px;
  color: white !important;
  text-align: center;
  padding-bottom: 142px;
  padding-top: 31px;
}

h2 {
  color: #f65282 !important;
  text-align: center;
  font-family: "Roboto", serif;
  font-style: bold;
  font-size: 14px !important;
}

p {
  color: white !important;
  text-align: center;
  margin: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  font-family: "Roboto", serif;
  color: white;
}
.icon i {
  font-size: 18px; /* Zorgt ervoor dat het icoon groot genoeg is */
  line-height: 1; /* Zorgt ervoor dat de iconen geen extra ruimte krijgen */
  padding-bottom: 15px;
}
