/*font-family: "Roboto", serif;*/
/*font-family: "Montserrat", serif;*/

body {
  background-color: #1b1b1b !important;
}
/*nav-bar*/
.navbar {
  background-color: #202020;
  height: 118px;
}
.navbar-brand {
  color: white !important;
  font-size: 40px !important;
  padding-left: 20px;
}
.nav-link {
  color: white !important;
}

.navbar-toggler {
  border-color: white !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
/*Hero*/
.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: white;
  padding: 220px 20px;
}

.hero p {
  font-family: "Roboto", serif;
  font-style: bold;
  font-size: 24px;
}
.hero h1 {
  font-family: "Roboto", serif;
  font-style: bold;
  font-size: 72px;
}
.hero h2 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.btn-branding {
  font-family: "Montserrat", serif !important;
  font-style: bold !important;
  border-radius: 50px !important;
  font-size: 14px !important;
  color: #272142 !important;
  background-color: white !important;
  padding: 18px 30px 18px 30px !important;
}

/* Foto's*/
.container {
  margin-top: 100px;
}

.gallery-container {
  max-width: 1152px; /* Beperkt de breedte tot 1152px */
  margin: 0 auto; /* Centreert de container */
}

.fixed-height {
  height: 280px !important; /* Zorgt voor gelijke hoogte */
  object-fit: cover; /* Zorgt ervoor dat de afbeelding de hele ruimte vult */
  width: 100%; /* Zorgt ervoor dat de afbeeldingen zich aanpassen */
}

.gx-4 {
  --bs-gutter-x: 40px; /* 40px ruimte tussen kolommen */
}

.gy-4 {
  --bs-gutter-y: 40px; /* 40px ruimte tussen rijen */
}
.row {
  margin-bottom: 40px;
}
.img {
  width: 100% !important;
}
/*footer*/
.footer {
  background-color: #282323; /* Achtergrondkleur */
  color: white; /* Tekstkleur */
  height: 100px; /* Stel een vaste hoogte in */
  display: flex; /* Zorgt voor een nette uitlijning */
  align-items: center; /* Centreert de inhoud verticaal */
  justify-content: center;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  justify-content: flex-start; /* Verdeel de secties gelijkmatig */
  width: 100%;
  padding-bottom: 55px;
  margin-right: 110px;
}

.footer-brand {
  font-size: 30px;
  font-weight: bold;
}

.footer-text {
  font-size: 14px;
  margin: 0;
}

.social-icon {
  color: white !important;
  font-size: 14px;
  margin: 0 10px;
  transition: color 0.3s;
}
