/*font-family: "Roboto", serif;*/
/*font-family: "Montserrat", serif;*/

.name {
  font-family: "Roboto", serif;
  font-style: bold;
  font-size: 24px;
}
.h1 {
  font-family: "Roboto", serif;
  font-style: bold;
  font-size: 72px;
}
.text {
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 18px;
}
.button {
  font-family: "Montserrat", serif;
  font-style: bold;
  border-radius: 50px;
  font-size: 14px;
}
