/*font-family: "Roboto", serif;*/
/*font-family: "Montserrat", serif;*/
:root {
}
body {
  background-color: #1b1b1b !important;
}
.hero {
  background-image: url("/beeld/homepage/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: white;
  padding: 220px 20px;
}

.hero p {
  font-family: "Roboto", serif;
  font-style: bold;
  font-size: 24px;
}
.hero h1 {
  font-family: "Roboto", serif;
  font-style: bold;
  font-size: 72px;
}
.hero h2 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.btn-branding {
  font-family: "Montserrat", serif !important;
  font-style: bold !important;
  border-radius: 50px !important;
  font-size: 14px !important;
  color: #272142 !important;
  background-color: white !important;
  padding: 18px 30px 18px 30px !important;
}

/* Foto's*/
.container {
  margin-top: 100px;
}

.gallery-container {
  max-width: 1152px; /* Beperkt de breedte tot 1152px */
  margin: 0 auto; /* Centreert de container */
}

.fixed-height {
  height: 280px !important; /* Zorgt voor gelijke hoogte */
  object-fit: cover; /* Zorgt ervoor dat de afbeelding de hele ruimte vult */
  width: 100%; /* Zorgt ervoor dat de afbeeldingen zich aanpassen */
}

.gx-4 {
  --bs-gutter-x: 40px; /* 40px ruimte tussen kolommen */
}

.gy-4 {
  --bs-gutter-y: 40px; /* 40px ruimte tussen rijen */
}
.row {
  margin-bottom: 40px;
}
.img {
  width: 100% !important;
}
